.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
    padding: 2rem 5%;
    background: linear-gradient(135deg, #1e1b2e 0%, #e2898e 100%);
    border-radius: 15px;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #f3f0ff;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #e2898e;
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #e2898e;
}
